SECTIONS {
    . = 0x0;
    .vec : AT ( {{memory_base}} ) {
        HIDDEN(_evec = .);
    }
    .text : AT ( _evec ) {
        *(.text)
        HIDDEN(_etext = .);
    }
    .data : AT ( _etext ) {
        *(.data)
        HIDDEN(_edata = .);
    }
    .rodata : AT ( _edata ) {
        *(.rodata)
    }
}
