MEMORY {
    mem (A) : ORIGIN = {{mem_base}}, LENGTH = {{mem_length}}
}

ENTRY(reset)

SECTIONS {
    .ashtos.reset {{reset_vector}} : { *(.ashtos.reset) } >mem

    .ashtos.vector_table {{vector_table_base}} : {
        KEEP(*(.ashtos.vector_table))
    } >mem

    /*.text 0x80004000 : { *(.text) } >mem*/
}
