pub(crate) const UART0_BASE: usize = {{uart0_base}};
pub(crate) const VECTOR_TABLE_BASE: usize = {{vector_table_base}};
pub(crate) const ALLOCATION_BASE: usize = {{allocation_base}};
pub(crate) const ALLOCATION_CAP: usize = {{allocation_cap}};
